<aside class="bg-white h-screen w-64 shadow-md flex flex-col pt-6">
  <!-- Logo -->
  <div class="mb-10 px-4">
    <img src="/logo.svg" alt="Inflektion Logo" class="h-8" />
  </div>

  <!-- Navigation -->
  <nav class="flex flex-col gap-2 text-sm font-medium">
    <!-- Active -->
    <a
      href="#"
      class="flex items-center gap-3 bg-[#101058] text-white px-4 py-3"
    >
      <img src="/home.svg" alt="Inflektion Logo" class="h-5" />
      Dashboard
    </a>

    <!-- Inactive -->
    <a
      href="#"
      class="flex items-center gap-3 text-gray-400 hover:text-black px-4 py-3"
    >
      <img src="/partners.svg" alt="Inflektion Logo" class="h-5" />
      Partners
    </a>

    <a
      href="#"
      class="flex items-center gap-3 text-gray-400 hover:text-black px-4 py-3"
    >
     <img src="/approvals.svg" alt="Inflektion Logo" class="h-5" />
      Approvals
    </a>
  </nav>
</aside>
