<aside class="h-screen w-64 flex flex-col pt-6">
  <!-- Logo -->
  <div class="mb-10 px-4 cursor-pointer"
       routerLink="/">
    <img src="/logo.svg" alt="Inflektion Logo" class="h-8" />
  </div>

  <!-- Navigation -->
  <nav class="flex flex-col gap-2 text-sm font-medium">
    <a
      routerLink="/dashboard"
      [routerLinkActive]="'active'"
      #rlaDashboard="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{
        'bg-[#101058] text-white border-accent': rlaDashboard.isActive,
        'text-gray-400 hover:text-black hover:bg-gray-100 border-transparent': !rlaDashboard.isActive
      }"
      class="flex items-center gap-3 px-4 py-3 transition-colors duration-200 border-l-4"
    >
      <img src="/home.svg" alt="Dashboard Icon" class="h-5" />
      Dashboard
    </a>

    <a
      routerLink="/partners"
      [routerLinkActive]="'active'"
      #rlaPartners="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{
        'bg-[#101058] text-white border-accent': rlaPartners.isActive,
        'text-gray-400 hover:text-black hover:bg-gray-100 border-transparent': !rlaPartners.isActive
      }"
      class="flex items-center gap-3 px-4 py-3 transition-colors duration-200 border-l-4 "
    >
      <img src="/partners.svg" alt="Partners Icon" class="h-5" [ngClass]="{ 'filter invert': rlaPartners.isActive }" />
      Partners
    </a>

    <a
      routerLink="/approvals"
      [routerLinkActive]="'active'"
      #rlaApprovals="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{
        'bg-[#101058] text-white border-accent': rlaApprovals.isActive,
        'text-gray-400 hover:text-black hover:bg-gray-100 border-transparent': !rlaApprovals.isActive
      }"
      class="flex items-center gap-3 px-4 py-3 transition-colors duration-200 border-l-4 "
    >
      <img src="/approvals.svg" alt="Approvals Icon" class="h-5" [ngClass]="{ 'filter invert': rlaApprovals.isActive }" />
      Approvals
    </a>
  </nav>
</aside>
