<aside class="h-screen w-12 md:w-48 lg:w-64 flex flex-col pt-6">
  <div class="mb-10 px-3 md:px-4 cursor-pointer"
       routerLink="/">
      <!-- Desktop logo -->
      <img
        ngSrc="/logo.svg"
        alt="Inflektion Logo"
        class="hidden md:block h-8"
        height="27"
        width="164"
      />

      <!-- Mobile logo -->
      <img
        ngSrc="/icon.svg"
        alt="Inflektion Logo"
        class="block md:hidden h-10 w-10"
        height="40"
        width="40"
      />
  </div>

  <nav class="flex flex-col gap-2 text-sm font-medium">
    <a
      routerLink="/dashboard"
      [routerLinkActive]="'active'"
      #rlaDashboard="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{
        'bg-[#101058] text-white border-accent font-semibold': rlaDashboard.isActive,
        'text-gray-400 hover:text-black hover:bg-gray-100 border-transparent': !rlaDashboard.isActive
      }"
      class="flex items-center gap-3 px-4 py-4 transition-colors duration-200 border-l-4"
    >
      <img ngSrc="/home.svg" alt="Dashboard Icon" class="h-5" height="24" width="24"/>
      <span class="hidden md:block">Dashboard</span>
    </a>

    <a
      routerLink="/partners"
      [routerLinkActive]="'active'"
      #rlaPartners="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{
        'bg-[#101058] text-white border-accent': rlaPartners.isActive,
        'text-gray-400 hover:text-black hover:bg-gray-100 border-transparent': !rlaPartners.isActive
      }"
      class="flex items-center gap-3 px-4 py-4 transition-colors duration-200 border-l-4 font-light"
    >
      <img ngSrc="/partners.svg" alt="Partners Icon" class="h-5" [ngClass]="{ 'filter invert': rlaPartners.isActive }"
           height="24" width="24"/>
      <span class="hidden md:block">Partners</span>
    </a>

    <a
      routerLink="/approvals"
      [routerLinkActive]="'active'"
      #rlaApprovals="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{
        'bg-[#101058] text-white border-accent': rlaApprovals.isActive,
        'text-gray-400 hover:text-black hover:bg-gray-100 border-transparent': !rlaApprovals.isActive
      }"
      class="flex items-center gap-3 px-4 py-4 transition-colors duration-200 border-l-4 "
    >
      <img ngSrc="/approvals.svg" alt="Approvals Icon" class="h-5" [ngClass]="{ 'filter invert': rlaApprovals.isActive }"
           height="24" width="24"/>
      <span class="hidden md:block">Approvals</span>
    </a>
  </nav>
</aside>
