@import "tailwindcss";

@theme {
  --font-text: 'Poppins', sans-serif;
  --color-primary: #031050;
  --color-secondary: #5E33CE;
  --color-accent: #f82ea4;
}
body {
  @apply bg-[#FCFCFC];
}

@layer base {
  @apply font-text;
}

@layer components {
  h1, h2, h3, p, span, a  {
    @apply font-text;
  }

  p, a, button, th {
    @apply font-normal;
  }
}
