<app-table-toolbar></app-table-toolbar>

<div class="rounded-lg shadow-xl">
  <div class="overflow-hidden rounded-lg">
    <table class="w-full text-left border-collapse table-layout-fixed">
      <thead>
      <tr class="bg-primary text-white text-sm">
        <th class="px-4 py-3 cursor-pointer w-[150px]" (click)="sortBy('id')">
          ID
        </th>

        <th class="p-2 cursor-pointer w-[150px]" (click)="sortBy('name')">
          Name
        </th>

        <th class="p-2 cursor-pointer w-[150px]" (click)="sortBy('type')">
          Type
        </th>

        <th class="p-2 cursor-pointer w-[150px]" (click)="sortBy('contract')">
          Contract
        </th>

        <th class="p-2 cursor-pointer w-[150px]" (click)="sortBy('grossSales')">
          Gross Sales
        </th>

        <th class="p-2 cursor-pointer w-[150px]" (click)="sortBy('commissions')">
          Commissions
        </th>

        <th class="p-2 cursor-pointer w-[150px]" (click)="sortBy('conversions')">
          Conversions
        </th>
        <th class="p-2 w-[150px]"> </th>
      </tr>
      </thead>
      <tbody class="text-sm text-[#101058] bg-[#F9FBFE]">
      <tr *ngIf="loading">
        <td class="p-4 text-center" colspan="8">Loading partners...</td>
      </tr>
      <tr *ngFor="let p of paginatedPartners" class="even:bg-[#F4F7FE]">
        <td class="px-4 py-2">{{ p.id }}</td>
        <td class="p-2">{{ p.partnerName }}</td>
        <td class="p-2">{{ p.partnerType || '-' }}</td>
        <td class="p-2">{{ p.contract }}</td>
        <td class="p-2">{{ p.grossSales }}</td>
        <td class="p-2">{{ p.commissions }}</td>
        <td class="p-2">{{ p.conversions }}</td>
        <td class="p-2">
          <button class="bg-secondary hover:bg-[#5734eb] text-white px-4 py-2.5 rounded-full flex items-center gap-2 text-xs font-medium">
            <img src="/menu.svg" alt="eye icon" class="w-4 h-4">
            Details
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    [totalItems]="partners.length"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
